<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
    <% include ../partials/navbar %>

    <div id="main">
        <div class="fof">
            <h1><%= code %> | <%= error %></h1>
        </div>
    </div>
</body>

</html>