<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
    <% include ../partials/navbar %>
    <div class="caption">
        <span class="border">Landing Page Auth Middleware</span><br>
    </div>
</body>

</html>