// preset form values if we receive a userdata object //
- device = typeof(dvc) != 'undefined' ? dvc : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= device._id)#userId

#register-form-container.center-vertical
	form.card.card-body.bg-light(method='post')#register-form
		h2
		h6#sub Register your device.
		hr

		.form-group.row.margin-zero 
			label.col-sm-3.col-form-label.col-form-label-sm Device ID
			.col-sm-9
				input.form-control#id-tf(type='text', name='device_id' value=device.device_id).disabled

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Device Name
			.col-sm-9
				input.form-control#name-tf(type='text', name='device_name' value=device.device_name).disabled

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Role
			.col-sm-9
				input.form-control#role-tf(type='text', name='role' value=device.role)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Description
			.col-sm-9
				input.form-control#desc-tf(type='text', name='description' value=device.description)

		hr
		.form-buttons
			button(type='button')#register-form-btn1.btn.btn-outline-dark
			if device
				button(type='submit')#register-form-btn3.btn.btn-outline-dark
			button(type='submit')#register-form-btn2.btn.btn-primary

// display form errors in a custom modal window //

include modals/form-errors
