<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Auth Middleware</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/register">Register</a>
                <a class="nav-item nav-link" target="_blank" href="mailto:aditya@adityacprtm.com">Contact</a>
            </div>
        </div>
    </div>
</nav>